LANGFLOW_HOST=127.0.0.1
LANGFLOW_PORT=7860
LANGFLOW_CONFIG_DIR=/home/spark0/Documents/Workspace/agent-system/langflow/data
LANGFLOW_OPEN_BROWSER=False
LANGFLOW_AUTO_LOGIN=False
LANGFLOW_SUPERUSER=admin
LANGFLOW_SUPERUSER_PASSWORD=CHANGE_ME
